@using Pustok.Models
@using Pustok.ViewModels
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Book
@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <form method="post" asp-action="create"  enctype="multipart/form-data">
  <div class="row">
      <div class="mb-3 col-md-2">
    <label asp-for="@Model.Name" class="form-label">Name</label>
    <input  class="form-control" asp-for="@Model.Name" placeholder="Name">
    <span asp-validation-for="Name" class="text-danger"></span>
   </div>
  <div class="mb-3 col-md-3">
    <label asp-for="@Model.Code" class="form-label">Code</label>
    <input  class="form-control" asp-for="@Model.Code" placeholder="Code">
        <span asp-validation-for="Code" class="text-danger"></span>
  </div>
  <div class="mb-3 col-md-2">
    <label asp-for="@Model.CostPrice" class="form-label">CostPrice</label>
    <input  class="form-control" asp-for="@Model.CostPrice" placeholder="CostPrice">
            <span asp-validation-for="CostPrice" class="text-danger"></span>
  </div>
  <div class="mb-3 col-md-2">
    <label asp-for="@Model.SalePrice" class="form-label">SalePrice</label>
    <input  class="form-control" asp-for="@Model.SalePrice" placeholder="SalePrice">
            <span asp-validation-for="SalePrice" class="text-danger"></span>
  </div>
  </div>
  <p>
  <input  class="form-check-input" asp-for="IsAviable">
  <label class="form-check-label" asp-for="IsAviable">
    IsAviable
  </label>
  </p>
  <div >
        </div>
        <p>
            <input class="form-check-input" asp-for="IsFeatured">
            <label class="form-check-label" asp-for="IsFeatured">
                IsFeatured
            </label>
        </p>
        <div></div>
        <p>
            <input class="form-check-input" asp-for="IsNew">
            <label class="form-check-label" asp-for="IsNew">
                IsNew
            </label>
        </p>
        <div>
      <p>
  <select class="form-select" asp-for="AuthorId" asp-items="@(new SelectList(ViewBag.Authors,"Id","FullName"))">
   </select> 
               <span asp-validation-for="AuthorId" class="text-danger"></span>
                
   </p>
  </div>
   <div >
      <p>
  <select class="form-select" asp-for="GenreId" asp-items="@(new SelectList(ViewBag.Genre,"Id","Name"))">
    </select> 
                <span asp-validation-for="GenreId" class="text-danger"></span>

    </p>
  </div>
  <div style="margin-right:250vh">    
      <label asp-for="@Model.Decs" class="form-label">Desc</label>
      <textarea style="width:100;heigth:100;" asp-for="@Model.Decs" placeholder="Desc" ></textarea>
          <span asp-validation-for="Decs" class="text-danger"></span>

</div >
<div class="row">
        <div>
            <p>
                <label asp-for="ImageFiles" class="form-label">ImageFiles</label>
                <input class="form-control" asp-for="ImageFiles" >
                <span asp-validation-for="ImageFiles" class="text-danger"></span>
            </p>
        </div>
        <div>
            <p>
                <label asp-for="PosterImageFiles" class="form-label">PosterImageFiles</label>
                <input class="form-control" asp-for="PosterImageFiles" >
                <span asp-validation-for="PosterImageFiles" class="text-danger"></span>
            </p>
        </div>
        <div>
            <p>
                <label asp-for="HoverImageFiles" class="form-label">HoverImageFiles</label>
                <input class="form-control" asp-for="HoverImageFiles" >
                <span asp-validation-for="HoverImageFiles" class="text-danger"></span>
            </p>
        </div>
        </div>
 <div class="row col-lg-4">  
     <p>
     <label asp-for="@Model.DiscountPrice" class="form-label">DiscountPrice</label>
    <input  class="form-control" asp-for="@Model.DiscountPrice" placeholder="DiscountPrice">
     <span asp-validation-for="DiscountPrice" class="text-danger"></span>
          </p> 
<div class="form-check">
</div>
</div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

